*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/.classpath
/app/.project
/.project
/.settings/org.eclipse.buildship.core.prefs
/app/.settings/org.eclipse.buildship.core.prefs
